<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../skin/call.css">
<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
<script id="jitsi-api" th:src="${appUrl} + '/external_api.js'"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" data-main="call" src="../js/require.js"></script>
</head>
<body>
  <div id="loader">
    <div class="content">
      <span class="label"></span>
      <div class="logo"></div>
      <div class="room"></div>
      <div class="mini-loader-container">
        <span class="mini-loader-label">Loading...</span>
        <div class="mini-loader"></div>
      </div>

    </div>
  </div>
  <div id="app"></div>
  <script src="../jitsi/js/jitsi-app.bundle.js"></script>
</body>
</html>